<body class="container">
  <div class="container__encabezado">

    <div class="opcion__link__item">
      <a routerLink="/destino"><i class="fa-solid fa-arrow-left"></i></a>
      <span class="tooltiptext">Volver a tu destino</span>
    </div>

    <h1 class="container__encabezado__titulo">Destino seleccionado:</h1>
    <div class="container__encabezado__imagen">
      <img [src]="img" alt="Imagen del destino seleccionado"/>
    </div>
    <h2 class="container__encabezado__nombre">{{name}}</h2>
  </div>

  <div class="container__hospedaje">

    <h2>Tus opciones de hospedaje:</h2>

    <div>
      <p> Estas son las opciones de hospedaje que te recomendamos según tus
        preferencias:</p>
    </div>

    <div class="container__hospedaje__opciones">
      <div class="container__hospedaje__opcion">

        <div class="container__hospedaje__opcion__img">
          <img src="../../../assets/img/airbnb.png" alt="Imagen de Airbnb" />
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>airbnb</h3>
          <p>
            Explora alojamientos únicos, desde acogedores apartamentos en el corazón de la ciudad hasta exóticas casas en árboles.
            Viaja de una manera más auténtica y personalizada, creando recuerdos inolvidables en cada destino.
          </p>
          <a class="container_hospedaje_button" href="https://www.airbnb.com.co/">Explora tu estancia</a>
        </div>
      </div>
  
      <div class="container__hospedaje__opcion">
        <div class="container__hospedaje__opcion__img">
          <img [src]="imgHotel" alt="Imagen del {{hotelName}}" />
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>{{hotelName}}</h3>
          <p>{{description}}</p>
          <a class="container_hospedaje_button" href="https://www.riu.com/es/ofertas/unete-riu-class-LATAM.jsp?gad_source=1&gclid=Cj0KCQjwzva1BhD3ARIsADQuPnWnrDydr_vZS-uMKyFU8-40uzIbr8jLAtl4bm0wfBBc6RA8qa-zuUsaAmwUEALw_wcB&gclsrc=aw.ds">Explora tu Hotel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container__vuelos">

    <h2>Tus opciones de vuelos:</h2>
    <div class="vuelo-container">
      <p class="txt-parrafo">
        Estos son las dos opciones de vuelos que te recomendamos según tus
        preferencias:
      </p>
    </div>

    <div class="container__vuelos__opciones">
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <img src="../../../assets/img/Avianca.png" alt="Imagen de un avión de Avianca" />
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>Avianca</h3>
          <p class="txt-parrafo">
            es la aerolínea bandera de Colombia y una de las más grandes de América Latina. Fundada en 1919, opera vuelos a más de 90 destinos en América, Europa, Asia y el Caribe.
            Es miembro de la alianza Star Alliance y se enfoca en ofrecer un servicio excepcional y conexiones globales a sus pasajeros

          </p>
          <a class="container_vuelos_button" href="https://www.avianca.com">Elige tu Aerolínea</a>
        </div>
        
      </div>
      <div class="container__vuelos__opcion">

        <div class="container__hospedaje__opcion__img">
          <img src="../../../assets/img/Air-Europa-logo.png" alt="Imagen de un avión de Aeromexico"/>
        </div>

        <div class="container__hospedaje__opcion__info">
          <h3>Air Europa</h3>
          <p class="txt-parrafo">
            Es una aerolínea española fundada en 1984, con sede en Lluchmayor, Mallorca.
            Es miembro de la alianza SkyTeam y opera vuelos a más de 130 destinos en todo el mundo.
            La aerolínea se compromete con altos estándares de calidad y seguridad, y ofrece servicios como entretenimiento a bordo, menús exquisitos y prioridad en el embarque.
          </p>
          <a class="container_vuelos_button" href="https://aeromexico.com">Elige tu Aerolínea</a>
        </div>

      </div>
    </div>
  </div>
</body>